body {
  height: 2000px;
  margin: 0;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  background-image: radial-gradient(circle, white 2px, transparent 2px);
  background-size: 20px 20px;
  background-position: 50% 0;
  background-repeat: repeat;
  overflow: hidden;
}

.purple-part {
  height: 20vh;
  width: 100%;
  background-color: #8e65c0;
  display: flex;
  flex-direction: row;
}

.logo-img {
  width: 20vw;
  height: 16vh;
  padding-top: 2vh;
}

.welcomeTitle {
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  color: white;
  font-weight: bold;
}
.back-div {
  width: 17vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.back-button {
  width: 12vw;
  height: 8vh;
  background-color: #00cab6;
  position: absolute;
  left: 10%;
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.back-button:hover {
  scale: 1.1;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}
.lower-part {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
  position: relative;
}

.left-part {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.informative-text {
  height: 40vh;
  width: 90%;
  color: #75549d;
  display: flex;
  flex-direction: column;
}

h2 {
  line-height: 1.4em;
}
.city-div {
  width: 100%;
  height: 35vh;
  margin-top: auto;
  position: relative;
}
.city-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.right-part {
  height: 80vh;
  width: 50%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.dotted-donor {
  height: 100%;
  width: 50%;
  background-color: #ffffff;
  background-image: radial-gradient(circle, #8e65c0 1px, transparent 2px);

  background-size: 40px 40px;
  background-position: 50% 0;
  background-repeat: repeat;
  z-index: 2;
  position: absolute;

  display: flex;
  flex-direction: column;
}
.text-div {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2em;
  color: #7943bc;
  font-weight: bold;
  position: relative;
  top: 9vh;
}
.man-div {
  height: 1000px;
  width: 100%;
  z-index: 2;
  position: relative;
  top: 200px;
  left: 40px;
}
.man-img {
  height: 50vh;
  width: 40vw;
}
.book-button {
  height: 200px;
  width: 200px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  z-index: 3;
  position: relative;
  bottom: 25vh;
  transition: all 0.3s ease-in-out;
}
.book-button:hover {
  scale: 1.1;
}
.book-button span {
  font-size: 20px;
  font-weight: bold;
  color: #f4eded; /* Example text color */
  position: absolute;
  top: 70px; /* Adjust the top value to move the text higher */
  left: 50%; /* Position the text horizontally in the center */
  transform: translateX(-50%);
}
.book-button img {
  display: block; /* Ensure the image behaves like a block element */
  width: 100%; /* Ensure the image fills the button horizontally */
  height: auto; /* Maintain aspect ratio of the image */
  background-color: rgba(0, 0, 0, 0);
}

.donate-button {
  height: 200px;
  width: 200px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  z-index: 3;
  position: relative;
  bottom: 56vh;
  left: 525px;
  transition: all 0.3s ease-in-out;
}
.donate-button:hover {
  scale: 1.1;
}
.donate-button span {
  font-size: 20px;
  font-weight: bold;
  color: #f4eded; /* Example text color */
  position: absolute;
  top: 70px; /* Adjust the top value to move the text higher */
  left: 48%; /* Position the text horizontally in the center */
  transform: translateX(-50%);
}
.donate-button img {
  display: block; /* Ensure the image behaves like a block element */
  width: 100%; /* Ensure the image fills the button horizontally */
  height: auto; /* Maintain aspect ratio of the image */
  background-color: rgba(0, 0, 0, 0);
}
