body {
    background-color: #8e65c0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }

.button-list {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 100px;
    top: 20%;
    /* transform: translateY(-50%); */
  }
  
.button-row {
    display: flex;
    align-items: center;
    justify-content:center;
    margin-bottom: 20px;

    border-radius: auto;
    transition: background-color 0.3s;
    border-color: transparent;
  }
  
.button-row img {

    margin-right: auto;
    height: 30px;
    width: 30px;
    vertical-align: middle;
  }

.button-row button {
    margin-bottom: auto;
    height: 50px;
    background-color: transparent;
    border-color: transparent;
    color: white;
    font-weight: bold;
    font-size: large;
  } 
  
.button-row:hover {
    background-color: #ac86da;
  }

.post-button {
    display: flex;
    align-items: center;
    justify-content:center;
    margin-bottom: 5px;
    border-radius: 35px;
    transition: background-color 0.3s;
    border-color: transparent;
    background-color: #00cab6;
  }
 

.post-button button { 
    margin-bottom: 5px;
    height: 50px;
    background-color: transparent;
    border-color: transparent;
    color: white;
    font-weight: bold;
    font-size: large;
    text-align: center;
 } 
 
.post-button:hover {
    background-color: #00a292;
  }

.logo {
    position:fixed;
    top: 5px;
    left: 45px;
  }
  
.logo img {
    height: 100px;
    width: 142px;
  }

.volunteers-list {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 78%;
    top: 25%;
    border-radius: 25px;
    background-color: #ac86da;
    color: white;
    font-size: large;
    height: 225px;
    width: 300px;
    overflow-y: auto;
    border-color: #d9d9d9;
    border-width: 2px;
    border-style: solid;
    align-items: start;
    padding-left: 15px;
    padding-top: 15px;
  }

  .volunteers-list::-webkit-scrollbar {
    width: 5px;
}

.volunteers-list::-webkit-scrollbar-thumb {
    background-color: #bfbfbf;
    border-radius: 5px;
}

.volunteers-list::-webkit-scrollbar-track {
    background-color: #d9d9d9;
    border-radius: 5px;
}

.volunteer {
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 12px;
    border-color: transparent;
    font-weight: bold;
}

.volunteer img {
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

.default-style {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #00cab6;
}

.organization-details {
    position: absolute;
    top: 475px;
    left: 15px;
    bottom: 0px;
    color: white;
}

.org {
    border-color: transparent;
    font-weight: bold;
}

.org img {
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

.posts {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 272px;
    top: 0px;
    width: 650px;
    border-color: #d9d9d9;
    border-style: solid;
    border-top: transparent;
    border-bottom: transparent;
    overflow-y: auto;
    color: white;
    text-align: center;
    font-weight: bold;
    max-height: 100%;
}

.post { 
    min-height: 100px;
    max-height: 200px;
    background-color: #ac86da;
    color: white;
    border-color: #d9d9d9;
    border-style: solid;
    border-width: 3px;
    border-left: transparent;
    border-right: transparent;
    border-bottom: transparent;
}

.posts::-webkit-scrollbar {
    width: 5px;
}

.posts::-webkit-scrollbar-thumb {
    background-color: #bfbfbf;
    border-radius: 5px;
}

.posts::-webkit-scrollbar-track {
    background-color: #d9d9d9;
    border-radius: 5px;
}

.box{
  top:0px;
  position: fixed;
  left: 25%;
  height:100%;
  border: solid #d9d9d9;
}


.loc {
  position: relative;
  align-items: center;
  left: center;
  top: center;

}
.loc img{
  position: relative;
  border-radius: 10%;
  top: 10px;
  align-items: center;
  height: 300px;
    width: 800px;
}

#Locationword{
  position: relative;
  height: 50px;
  width: 800px;
  text-align: center;
  font-size: 27px;
  color: white;
  border-top: transparent;

}


#Address{
  position: relative;
  top: 0px;
  left: 20px  ;
  font-size: 27px;
  color:white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}



.grid-container {
  position: relative;
  left: 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, auto); 
    gap: 20px; 
    padding: 10px;
    border: transparent;
    color: white; 
    
    
}

.grid-item {
    width: 170px;
    padding: 5px;
    border-radius: 8px; 
   
}

label {
    font-size: 24px; 
     
    margin-bottom: 20px; 
}

input{
    width: 80%; 
    padding: 8px;
    border: 1px solid #ddd; 
    border-radius: 4px; 


}

.loc .post-button {
  position: relative;
  left:44%;
  width: 120px;
  height: 60px;
  color: white;
}



#map{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  
}