.rep-img {
  width: 25vw;
  object-fit: contain;
  height: 50vh;
}

.donor-img {
  width: 25vw;
}

.left-part {
  background-color: #8e65c0; /* Left div background color */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
  position: relative;
  padding-top: 5vh;
}
